
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">

            @* bloğun detaylarının geldiği component partial *@
            @await Component.InvokeAsync("_BlogDetailsMainComponentPartial", new { id = ViewBag.blogId })

            <div class="col-md-4 sidebar ftco-animate">

                @* blog detayı sayfasına search barın getirildiği component partial *@
                @await Component.InvokeAsync("_BlogDetailSideBarSearchBoxComponentPartial")

                @* blog detayı sayfasında kategorilerin getirildiği component partial*@
                @await Component.InvokeAsync("_BlogDetailsCategoryComponentPartial")

                @* blog detayı sayfasında son yayınlanan blogların getiriildiği component partial  *@
                @await Component.InvokeAsync("_BlogDetailsRecentBlogsComponentPartial")

                @* blog detayı sayfasında gösterilecek olan Tag Cloudu yani seo için kullanılacak olan etiket bulutunun blog detayı sayfasında gösterildiği component partial *@
@*                 @await Component.InvokeAsync("_BlogDetailsTagCloudComponentPartial", new { id = ViewBag.blogId }))
 *@
                @* blog detayı sayfasında sağ tarafta bulunan paragraf yazısının dinamik olarak getirildiği component partial*@
                @await Component.InvokeAsync("_BlogDetailsParagraphComponentPartial")
                        
            </div>
        </div>
    </div>
</section>
