@model GetBlogById

<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.Title</h2>
    <p>@Model.BlogDescription</p>
   
    @* bloğun kendi spesifik etiket bulutlarını gösteren partial *@
    @await Component.InvokeAsync("_BlogDetailCloudTagByBlogComponentPartial", new { id = ViewBag.blogId })

    @* bloğun yazarına ait bilgilerin getirildiği partial *@
    @await Component.InvokeAsync("_BlogDetailsAuthorAboutComponentPartial", new { id = ViewBag.blogId })


    <div class="pt-5 mt-5">
        <h3 class="mb-5">6 Yorum</h3>
        @* seçili bloğun içindeki yorumların listesini gösteren partial  *@
        @await Component.InvokeAsync("_CommentListByBlogComponentPartial", new {id=ViewBag.blogId})  

        @* seçili bloğa yorum eklemek için kullanılan partial *@
        @await Component.InvokeAsync("_AddCommentComponentPartial")


    </div>
</div>


